/* index.css - estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: #1B5E20; /* texto verde escuro */
  margin: 0;
  padding: 0;
}